<h1>Hello, I am Jeff!</h1>
        <p class="center"><%= image_tag("jeff.jpg", :class => "border") %></p>
        <p class="center border">In the not-so-distant past, I had a super-sweet perm, which I proudly wore for the better part of a year.</p>
        <div class="pic-grid clearfix">
          <p>
            <%= image_tag("vegas.jpg", :class => "border grid odd") %>
            <%= image_tag("jeffandkaylin.jpg", :class => "border grid even") %>
            <%= image_tag("jeffandmatt.jpg", :class => "border grid odd") %>
            <%= image_tag("jeffandlisa.jpg", :class => "border grid even") %>
          </p>
        </div>
        
        <p class="border">I loved this perm dearly, and was set on bringing back the jerry curl-esque look of the late 1970's. Sadly, for some reason I cannot remember, I decided to let this beauty of a hairstyle lapse, and have not dedicated my hair to awesomeness since that point. I feel this is a travesty, however, some wise people have urged me <em>not</em> to do this to myself again.<br /<br />
        I have to leave the decision up to you, the brave, thoughtful, malicious, and anonymous users of the internet. Before you make this life-changing decision, consider that you will have to put up with approximately another seven months of hair, which will result in a rather white-trashy appearance, but will be <em>well worth it</em> in the end.<br /><br />
        Give me your input!<br /><br />
        <b><span class="big">Perms away!</span></b>
        </p>





<% total = 0 %>
<% yes = 0 %>
<% no = 0 %>

<% @votes.each do |vote| %>

    <% total += 1 %>
    <!-- <td><%= vote.total %></td> -->
    
    <!-- <td><%= vote.vote %></td> -->
    <% if vote.vote > 0 %>
      <% yes += 1 %>
    <% end %>
    <% if vote.vote < 1 %>
      <% no += 1 %>
    <% end %>

<% end %>


<% percent = no * 100 / total  %>

<div class="graph-container">
  <div class="votes">
    <p>Total votes : <%= total %></p>
  </div>
  <div class="bar-graph">
      <p><%= no %> (<%= no * 100 / total%>%)</p>
      <div class="yes" style="right: <%= percent %>%"><p><%= yes %> (<%= yes * 100 / total%>%)</p></div>
  </div>
</div>
<br />

<div class="vote-now">
  <div class="vote-yes">
    <%= form_for Vote.new do |yes| %>
      <div class="field">
        <%= yes.hidden_field :vote,  :value => 1 %>
      </div>
      <div class="actions">
        <%= yes.submit "Super Sweet (yes)"%>
      </div>  
    <% end %>
  </div>
  
  <div class="vote-no">
    <%= form_for Vote.new do |no| %>
      <div class="field">
        <%= no.hidden_field :vote,  :value => 0%>
      </div>
      <div class="actions">
        <%= no.submit "Really? (no)" %>
      </div>    
    <% end %>
  </div>
</div>
<div class="comment-block">
  <h2>Got something to say?</h2>
  
  <%= render Comment.all do |c| %>
  
  <% end %>
  
  <%= form_for Comment.new do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.text_area :body %>
    </div>
    <div class="field">
      <%= f.hidden_field :timestamp %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>  
</div>